@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Lexend+Zetta:wght@100&family=Ubuntu+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Lexend+Zetta:wght@100&family=Playfair+Display&family=Ubuntu+Mono&display=swap');


html,body
        {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; 
        }
.NavBackGround{
width: 100vw;
height: 100vh;
object-fit: cover;
z-index: -1;
display: block  ;
}   

.navbar{
    display: inline;
    list-style-type: none;
    position: absolute;
    justify-content: space-evenly;
    left: 28%;
    background: linear-gradient(to left,#000000b6 35%,#380356b8  ,#6b0078 ) ;
    border-bottom-right-radius: 50px;
    gap: 5vw;
    border-bottom-left-radius: 50px;
    z-index: 3;
    max-width: 70%;;

}
.About_Us{
    margin-right: 1vw;
    margin-left: 1vw;
    transition: 500ms;
}
.Product_Service{
    margin-right: 1vw;
    margin-left: 1vw;
    transition: 500ms;
}
.Picture{
    margin-right: 1vw;
    margin-left: 1vw;
    transition: 500ms;
}
.testimonal{
    margin-right: 1vw;
    margin-left: 1vw;
    transition: 500ms;
}
.Contact_US{
    
    margin-left: 1vw;
    transition: 500ms;
}

li{
    display: inline;
    
}
li a{
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 1vw;
    height: 7px;  
}
body::-webkit-scrollbar-track {
    background: #000000;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(to top,#000000b6 35%,#380356b8  ,#6b0078 ) ;
    border-radius: 50px;
    background-clip: padding-box;
    border: 3px solid transparent;
    transition: 3.2s;
}
::-webkit-scrollbar-thumb:hover
{
    width: 5vw;
    border: 0px;
}
.About_Us:hover{
    background: linear-gradient(to top,#00000043 35%,#38035665  ,#6c007872 ) ;
    padding: 24px;
    border-radius: 35px;
}
.Product_Service:hover{
    background: linear-gradient(to top,#00000043 35%,#38035665  ,#6c007872 ) ;
    padding: 24px;
    border-radius: 35px;
}
.Picture:hover{
    background: linear-gradient(to top,#00000043 35%,#38035665  ,#6c007872 ) ;
    padding: 24px;
    border-radius: 35px; 
}
.testimonal:hover{
    background: linear-gradient(to top,#00000043 35%,#38035665  ,#6c007872 ) ;
    padding: 24px;
    border-radius: 35px;
}
.Contact_US:hover{
    background: linear-gradient(to top,#00000043 35%,#38035665  ,#6c007872 ) ;
    padding: 24px;
    border-radius: 35px;
}
main
{
    background-color: #000000;
    padding: 0px;
    margin: 0%;
    overflow: hidden;
    
}    
.About_text{
    color: white;
    margin-right: 3vw;
    font-size: large;
    margin-left: 3vw;
    text-align: justify;
    font-family: 'Changa', sans-serif;
}
.About_Us_Heading{
    text-align: center;
    color: white;
    padding-top: 30vh;
    font-family: 'Changa', sans-serif
}
.Galery {
    margin-top: 10vh;
    margin-left: 25%;
    display: block;
    object-fit: cover;
   
    width: 50%;
    height: 100vh;
}
.Galery img{
    width: 100%;
    border-radius: 50px;
    margin-bottom: 50vh;
}
.Product_Heading{
    color: white;
    text-align: center;
    position: relative;
    bottom: 80vh;
    font-size: 200px;
    opacity: 0%;
    transition: 1.2s;
    text-shadow: 13px 13px 2px rgba(122, 122, 122, 03);
}
main:hover .Product_Heading{
    opacity: 100%;
    
}
.Product_Pic{
  color: white;
  text-align: center;
  margin-bottom: 20vh;
  font-size: 50px;  
  font-family: 'Changa', sans-serif
}
.Container_Product{
    display: flex;
    width: 50vw;
    height: 70vh;
    margin-left: 18vw;
    margin-right: auto;   
}
.text_above_Product{
    color: white;
    left: 50px;
}
.Product_Pic_2{
    display: flex;
    margin-left: 5vw;
    width: 50vw;
    height: 70vh;
}

.table_heading{
    font-size: xx-large;
     color: white;
      font-family: 'Changa', sans-serif
}
.Definition{
    color: white;
    font-size: large;
    font-family:  sans-serif;
    text-indent: 50px;
}
.Img_size{
    height:70vh ;
    width: 30vw; 
}
.Gallery_Heading{
    margin-top: 10vh;
    color: white;
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif;
}
.table_Img_size{
    height:50vh ;
    width: 20vw;
    border: 10px rgba(122, 122, 122,);
    transition: 500ms;
    margin-bottom: 15vh;
    
}
.table_Img_size:hover{
    transform:scale(1.4);
}
.person_name{
    color: white;
    text-align: justify;
    padding-left: 20%;
    font-family: 'Ubuntu Mono', monospace;
}
.testimonal_heading{
color: white;
padding-top:5% ;

font-family: 'Changa', sans-serif
}
.testimonal_def{
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Lexend Zetta', sans-serif;
}
footer {
    background-color: #5a008e;
    color: white;
    text-align: center;
    padding: 1rem;
   
    bottom: 0;
    width: 100%;
    height:5%;
}
.dropdown {
    
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to top,#00000043 35%,#38035665  ,#6c007872 ) ;  
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 80%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
   
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }